/*Define all colors here for use later.*/
:root{
    --background:           white;
    --background-accent:    #1d5a6f;
    --secondary-accent:     lightgrey;
    --primary:              #07A0C3;
    --primary-text:         whitesmoke;
    --primary-hover:        whitesmoke;
    --primary-hover-text:   black;
    --secondary:            #086788;
    --success:              #39CC00;
    --warning:              #FFD400;
    --error:                #E80000;
}

html{
    height:100%;
    background-color: var(--background);
}

body, .full{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

div#root{
    width: 100%;
}

#header{
    background-color: var(--background-accent);
    width:100vw;
    height:9vh;
}

#footer{
    position: absolute;
    bottom: 0;
    background-color: var(--background-accent);
    text-align: center;
    width:100vw;
    height:3vh;
    font-size: 2vh;
}

#menu{
    float:right;
}
#menu > button{
    margin-right: .1vw;
    height: 6vh;
    max-height: 100%;
    margin-top: 3vh;

}

*:disabled{
    filter: invert(75%);
}

#sidebar{
    background-color: var(--secondary-accent);
    display: inline-block;
    height: 88vh;
    width: 30vw;
}

#content{
    display: inline-block;
    height: 88vh;
    width: 70vw;
    float: right;
}

.primary{
    border:none;
    background-color: var(--primary);
    border-bottom:2px solid var(--primary-hover);
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;
    text-align: center;
    font-size: 3vmin;
    cursor: pointer;
    color: var(--primary-text);
    transition-duration: 1s;
    text-decoration: none;
}


.primary:hover:enabled {
    background-color: var(--primary-hover);
    border-color: var(--primary);
    color: var(--primary-hover-text);
}

.secondary{
    border:none;
    background-color: var(--secondary);
    border-bottom:2px solid var(--primary-hover);
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;
    margin-left:  .1vw;
    text-align: center;
    font-size: 3vmin;
    cursor: pointer;
    color: var(--primary-text);
    transition-duration: 1s;
    text-decoration: none;
}

.secondary:hover:enabled {
    background-color: var(--primary-hover);
    border-color: var(--secondary);
    color: var(--primary-hover-text);
}

.success{

}

.warning{

}

.error{

}


select{
    border-radius: .5vw;
    border: 2px solid var(--primary);
    background-color: var(--secondary);
}
