.container{
    background-color: #086788;
    margin: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#centered{
    text-align: center;
    width:75%;
}

#centered >*{
    margin: 2vh .5vw;
    font-size: 3vh;
}

#donation{
    width:10vw;
}

#submit{
    border-radius: .5vw;
    border: 2px solid;
}
#submit:hover:enabled {
    background-color: var(--primary-hover);
    border-color: var(--primary);
    color: var(--primary-hover-text);
}

#search{
    background-color: #07A0C3;
    height: 6vh;
    width:100%;
}

#search > input{
    vertical-align: top;
    margin-top: .75vh;
    display: inline-block;
    min-width: 20vw;
    height: 4vh;
    padding:0;
    max-height: 4vh;
    width: 20vw;
    color: white;
}

#add{
    display: inline-block;
    float:right;
    background-color: var(--primary);
    border:2px solid var(--primary-hover);
    border-radius: 5vh;
    text-align: center;
    font-size: 2vmin;
    cursor: pointer;
    color: var(--primary-text);
    transition-duration: 1s;
    text-decoration: none;
    width: 6vw;
    height: 6vh;
}
#add:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary);
    color: var(--primary-hover-text);
}

#scrollable{
    width: 100%;
    height: 82vh;
    overflow-y: auto;
    overflow-x: auto;
    background-color: var(--primary);
}

.item{
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--primary-text);
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-radius: 9px;
    height: 3vh;
    margin: auto;
    width: 100%;
    padding: 0;
    transition-duration: 1s;
}

.item:hover{
    background-color: var(--primary);
    border-color: var(--secondary);
    color: var(--primary-hover-text);
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-radius: 9px;
    height: 3vh;
    margin: auto;
    width: 100%;
    padding: 0;
}