html{
    height:100%;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

div#root{
    width: 100%;
}

input{
    background-color: #086788;
    border-color: #07A0C3;
    max-width: 15vw;
    max-height: 20vh;
    border-radius: 5px;
    border-style: solid;
    padding:2% 1%;
    font-size: 2.5vmin;
}

input.top{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input.middle{
    border-bottom: none;
    border-radius:0;
}

input.bottom{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.login {
    background-color: #086788;
    border-radius: 5%;
    height: 40%;
    width: 25%;
    padding: 1%;
    margin: auto;
    text-align: center;

}

.button{
    background-color: #086788;
    border:none;
    max-width:75%;
    border-bottom:2px solid #33334d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 32px;
    margin: 5vh 1vw;
    text-align: center;
    font-size: 2.5vmin;
    cursor: pointer;
    color: white;
    transition-duration: 1s;
    text-decoration: none;
}

.button:hover {
    background-color: whitesmoke;
    color: #00134d;
}